librosa==0.9.2
matplotlib==3.5.0
numpy==1.26.4
numba
phonemizer
scipy
tensorboard
Unidecode
amfm_decompy
jieba
transformers==4.36.0
pypinyin
cn2an
gradio
av
mecab-python3
loguru
unidic-lite
cmudict
fugashi
num2words
PyYAML
requests
torchcodec
torchcrepe
pyopenjtalk; sys_platform == 'linux'
openjtalk; sys_platform != 'linux'
jaconv
psutil
GPUtil
vector_quantize_pytorch
g2p_en
sentencepiece
pykakasi
langid
soxr
cn2an
GPUtil
pypinyin
num2words
pyopenjtalk
ffmpeg
libsndfile1-dev
build-essential
cmake
mecab
libmecab-dev
mecab-ipadic-utf8
soundfile
ffmpeg-python
pydub
faster-whisper
openjtalk
pyworld
onnxruntime
protobuf==3.20
tqdm
rich
torch==2.9.1
torchvision==2.9.1
torchaudio==2.9.1